body{
    background-color: black;
    color: white;
}
h1{
    color: red;
}
marquee {
    color: aqua;
}
#text{
    color: black;
    background-color: aliceblue;
    margin: 20%;
    padding: 20%;
}